fastapi
uvicorn
sqlalchemy
databases
asyncpg
pydantic
passlib[bcrypt]
python-dotenv
slowapi
python-jose[cryptography]
psycopg2-binary
pydantic[email]
python-multipart
requests
# musicbrainzngs  commented out due to functionality issues
discogs-client